<div class="container">
    <form action="" (ngSubmit)="Login()" [formGroup]="loginForm">
    <h2 id="in">SIGN IN</h2>
    <div class="p-2">
        <i class="fa-solid fa-key fa-1x ii"></i>
        <input name="acnum" type="text" id="acid" [placeholder]="acnt" formControlName="acno" class="input-box ">
        <!-- ((change)="acnoChange(event)") -->
    </div>
    <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched" class="text-danger"><p>invalid Ac Number</p></div>
    <div class="p-2">
        <i class="fa-solid fa-lock fa-1x ii"></i>
        <input name="psw" type="password" id="paswd" placeholder="password" formControlName="pswd" class="input-box">
    </div>
    <div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched" class="text-danger"><p>invalid password</p></div>
    <div class="P-2 text-center">
        <button type="submit" class="button">SIGN IN</button>
    </div>
    <p><SPAN> Do you have a account?</SPAN><a routerLink="register">Register</a></p>

        <!-- <button onclick="" type="button" class="btn btn-outline-info m-2 bg-secondary">create</button> -->
 </form>
 <!-- <hr>
 <p class="or">or</p> -->
</div>
<h2 class="aim">{{aim}}</h2>


