<!-- <span><h1>dashboard of BankApp</h1></span> -->
<div class="welcome"><h1>Welcome {{user}}!!</h1></div>
<div class=""><a routerLink="/transaction">Transation History</a></div>
    <div>
        <h3 class="header"><u>deposit</u></h3>
        <form action="" (ngSubmit)="deposit()" [formGroup]="depositForm">
        <div class="container w-100 mt-2 p-3">
        <div class="p-2">
            <input type="text" name="acnum" id="accnum" placeholder="Ac Number" formControlName="acnum" class="form-control">
        </div>
        <div *ngIf="this.depositForm.get('acnum')?.errors&&this.depositForm.get('acnum')?.touched" class="text-danger"><p>invalid Ac Number</p></div>
        <div class="p-2">
            <input type="password" name="pswrd" id="pswd" placeholder="password" formControlName="pswrd" class="form-control">
        </div>
        <div *ngIf="this.depositForm.get('pswrd')?.errors&&this.depositForm.get('pswrd')?.touched" class="text-danger"><p>invalid password</p></div>
        <div class="p-2">
            <input type="text" name="amnt" id="amnt" placeholder="Amount" formControlName="amnt" class="form-control">
        </div>
        <div *ngIf="this.depositForm.get('amnt')?.errors&&this.depositForm.get('amnt')?.touched" class="text-danger"><p>invalid amount</p></div>
        <div class="p-2 text-center">
            <button type="submit" class="btn btn-secondary border border-dark">deposit</button>
        </div>
   </div>
   </form>
</div><br>
<hr>
    <div>
        <h3 class="header"><u>Withdraw</u></h3>
        <form action="" (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
        <div class="container w-100 mt-2 p-3">
        <div class="p-2">
            <input type="text" name="acnumber1" id="acnum1" placeholder="Ac Number" formControlName="acnum1" class="form-control">
        </div>
        <div *ngIf="this.withdrawForm.get('acnum1')?.errors&&this.withdrawForm.get('acnum1')?.touched" class="text-danger"><p>invalid Ac Number</p></div>
        <div class="p-2">
            <input type="password" name="password1" id="pswd1" placeholder="password" formControlName="pswrd1" class="form-control">
        </div>
        <div *ngIf="this.withdrawForm.get('pswrd1')?.errors&&this.withdrawForm.get('pswrd1')?.touched" class="text-danger"><p>invalid password</p></div>
        <div class="p-2">
            <input type="text" name="amount1" id="amnt1" placeholder="Amount" formControlName="amnt1" class="form-control">
        </div>
        <div *ngIf="this.withdrawForm.get('amnt1')?.errors&&this.withdrawForm.get('amnt1')?.touched" class="text-danger"><p>invalid amount</p></div>
        <div class="p-2 text-center">
            <button  type="submit" class="btn btn-secondary border border-dark">withdraw</button>
        </div>
   </div>
   </form>
</div>
<button type="button" class="btn btn-dark border" (click)="logout()">logout</button>
